<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignPatterns.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BB485FC1D8EC90900C1E3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB486101D8EC90A00C1E3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB4861B1D8EC90A00C1E3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
